
* Recommend movies to the user using SVD

### Description

This is a basic version of low-rank matrix factorization for recommendations employ it on a dataset of 1 million movie ratings (from 1 to 5) available from the MovieLens project. The MovieLens datasets were created collected by GroupLens Research at the University of Minnesota.

## AI / ML Technique

Using matrix factorization, from the user and movie informations, we are able to find a low-rank  representation, which initive can be interpreted (in this example) as 'taste/genre' of movies. I.e. you are able to ascertain users with their taste in movies; and movies which correspond to the tastes/genres.

### Matrix Factorization via Singular Value Decomposition

Matrix factorization is the breaking down of one matrix in a product of multiple matrices. It's extremely well studied in mathematics, and it's highly useful. There are many different ways to factor matrices, but singular value decomposition is particularly useful for making recommendations.

So what is singular value decomposition (SVD)? At a high level, SVD is an algorithm that decomposes a matrix $R$ into the best lower rank (i.e. smaller/simpler) approximation of the original matrix $R$. Mathematically, it decomposes R into a two unitary matrices and a diagonal matrix:

$$\begin{equation}
R = U\Sigma V^{T}
\end{equation}$$

where R is users's ratings matrix, $U$ is the user "features" matrix, $\Sigma$ is the diagonal matrix of singular values (essentially weights), and $V^{T}$ is the movie "features" matrix. $U$ and $V^{T}$ are orthogonal, and represent different things. $U$ represents how much users "like" each feature and $V^{T}$ represents how relevant each feature is to each movie.

To get the lower rank approximation, we take these matrices and keep only the top $k$ features, which we think of as the underlying tastes and preferences vectors.

We credit Nick Beckers blog for the portion on SVD; While KNN below, is created to understand various approaches to Recommendation systems.

#### Setup Steps

In [ ]:
import pandas as pd
import numpy as np

Loading the ratings, users and movies dat files

In [ ]:

ratings_list = [i.strip().split("::") for i in open('./ml-1m/ratings.dat', 'r').readlines()]
users_list = [i.strip().split("::") for i in open('./ml-1m/users.dat', 'r').readlines()]
movies_list = [i.strip().split("::") for i in open('./ml-1m/movies.dat', 'r',encoding="latin-1").readlines()]

Converting the rating,movies and users list into numpy arrays

In [ ]:
ratings = np.array(ratings_list)
users = np.array(users_list)
movies = np.array(movies_list)

Creating rating, movies dataframes using the ratings and movies numpy arrays

In [ ]:
ratings_df = pd.DataFrame(ratings, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
movies_df = pd.DataFrame(movies, columns = ['MovieID', 'Title', 'Genres'])
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)

Lets look at the movies and ratings dataframes.

In [ ]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

We want the format of  ratings matrix to be one row per user and one column per movie. We'll`pivot` `ratings_df` to get that and call the new variable `R`.

In [ ]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID  1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
UserID                                       ...
1         5.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   2.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

The last thing we need to do is de-mean the data (normalize by each users mean) and convert it from a dataframe to a numpy array.

In [ ]:
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

With the ratings matrix properly formatted and normalized,we're ready to do the singular value decomposition

### Singular Value Decomposition

Scipy and Numpy both have functions to do the singular value decomposition.We are  using Scipy function `svds` because it us choose how many latent factors we want to use to approximate the original ratings matrix (instead of having to truncate it after).

In [ ]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

Done. The function returns exactly what was detailed earlier in this post, except that the $\Sigma$ returned is just the values instead of a diagonal matrix. This is useful, but since we are to leverage matrix multiplication to get predictions  converting it to the diagonal matrix form.

In [ ]:
U.shape

(6040, 50)

In [ ]:
sigma = np.diag(sigma)

### Making Predictions from the Decomposed Matrices

We now have everything I need to make movie ratings predictions for every user. We can do it all at once by following the math and matrix multiply $U$, $\Sigma$, and $V^{T}$ back to get the rank $k=50$ approximation of $R$. Note: The k used here is not related to the 'k' of knn below. Here it is the dimension of the lower rank approximation.

We also need to add the user means back to get the actual star ratings prediction.

In [ ]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

### Making Movie Recommendations
Finally, it's time. With the predictions matrix for every user, we can build a function to recommend movies for any user. All we need to do is return the movies with the highest predicted rating that the specified user hasn't already rated. Though the author didn't use actually use any explicit movie content features (such as genre or title), he merges in that information to get a more complete picture of the recommendations.

Also return the list of movies the user has already rated, for the sake of comparison.

In [ ]:
R_df.columns

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            3943, 3944, 3945, 3946, 3947, 3948, 3949, 3950, 3951, 3952],
           dtype='int64', name='MovieID', length=3706)

In [ ]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1        0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2        1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3        0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4        1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [ ]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
   # print(user_data.head())
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [ ]:
already_rated, predictions = recommend_movies(preds_df, 756, movies_df, ratings_df, 19)

User 756 has already rated 35 movies.
Recommending highest 19 predicted ratings movies not already rated.

A look at the predictions!!

In [ ]:
already_rated.head()

    UserID  ...                         Genres
0      756  ...                         Comedy
12     756  ...                  Action|Horror
31     756  ...             Action|Crime|Drama
29     756  ...  Action|Horror|Sci-Fi|Thriller
25     756  ...     Action|Sci-Fi|Thriller|War

[5 rows x 6 columns]

In [ ]:
predictions

      MovieID  ...                               Genres
1253     1291  ...                     Action|Adventure
2761     2858  ...                         Comedy|Drama
2665     2762  ...                             Thriller
1188     1222  ...                     Action|Drama|War
3424     3527  ...               Action|Sci-Fi|Thriller
1178     1210  ...  Action|Adventure|Romance|Sci-Fi|War
1861     1953  ...          Action|Crime|Drama|Thriller
1266     1304  ...                Action|Comedy|Western
1862     1954  ...                         Action|Drama
2100     2194  ...                   Action|Crime|Drama
313       318  ...                                Drama
519       527  ...                            Drama|War
3599     3703  ...                        Action|Sci-Fi
1169     1201  ...                       Action|Western
533       541  ...                     Film-Noir|Sci-Fi
2819     2916  ...     Action|Adventure|Sci-Fi|Thriller
1204     1242  ...                     Action|Drama|War
1908     2000  ...            Action|Comedy|Crime|Drama
1232     1270  ...                        Comedy|Sci-Fi

[19 rows x 3 columns]

Pretty cool! These look like pretty good recommendations. It's also good to see that, though the author didn't actually use the genre of the movie as a feature, the truncated matrix factorization features "picked up" on the underlying tastes and preferences of the user. The program recommended some film-noirs, crime, drama, and war movies - all of which were genres of some of this user's top rated movies.

## KNN Approach to the same data:

** Create cartesian co-ordinate and rate 0 everywhere and then fill in ratings **

In [ ]:
seen = {}
for x in ratings_df.values:
  seen[(int(x[0]), int(x[1]))] =1

In [ ]:
ratings_df.columns

Index(['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype='object')

In [ ]:
userCount = max(ratings_df.UserID)
movieCount = max(ratings_df.MovieID)

In [ ]:
# This is actually the cosine distance
def distance(u1, u2, mx):
    #d = 0 - seen[(u1, mx)] * seen[(u2, mx)]
    d = 0 - seen.get((u1, mx),0) * seen.get((u2, mx),0)
    for m in range(int(movieCount)):
        d += seen.get((u1, m),0) * seen.get((u2, m),0)
    return d

def kNN(k, givenUser, givenMovie):
    distances = []
    #print(userCount)
    for u in range(int(userCount)):
        if u != givenUser:
            distances.append([distance(u, givenUser, givenMovie), u])
    distances.sort()
    distances.reverse() ## Because cosine distances mean higher = closer
    return distances[:k] 

def prediction(k, givenUser, givenMovie):
    neighbours = kNN(k, givenUser, givenMovie)
    howmanySaw = sum([seen.get((u, givenMovie),0) for d, u in neighbours])
    return 2 * howmanySaw > k      ### predict 1 if more than half of the similar users have seen this movie, otherwise 0.

In [ ]:
ratings_df = ratings_df.astype('int')

In [ ]:
#Lets look at some random samples to use these values to feed into the KNN
#NOTE: The fact that there is a rating for a movie, shows the user has watched it.
ratings_df.sample(n=3)

        UserID  MovieID  Rating  Timestamp
116132     752      457       3  996516203
165628    1056     2617       3  974952657
123833     798     3433       1  975408586

In [ ]:
# lets enter the K value as first param, UserID as the second param and MovieID as third param by picking up

prediction(5,837,1953)

True


## Finally lets compare both KNN prediction and SVD prediction for one of the movies above:

In [ ]:
#Generate random samples to test below:
ratings_df.sample(n=3)

        UserID  MovieID  Rating  Timestamp
335168    1978     2115       4  986665145
403130    2407     3873       4  974254830
916608    5539      950       4  982439868

### KNN:

### Experiment with various values of k
prediction(k, userIdFromAbove, movieIdFromAbove)

In [ ]:

prediction(7,2407,3873)

True

### SVD

In [ ]:
already_ratedFinal, predictionsFinal = recommend_movies(preds_df, 837, movies_df, ratings_df,5)

User 837 has already rated 69 movies.
Recommending highest 5 predicted ratings movies not already rated.

In [ ]:
print(already_ratedFinal.head())

    UserID  MovieID  ...                           Title              Genres
36     837      858  ...           Godfather, The (1972)  Action|Crime|Drama
35     837     1387  ...                     Jaws (1975)       Action|Horror
65     837     2028  ...      Saving Private Ryan (1998)    Action|Drama|War
63     837     1221  ...  Godfather: Part II, The (1974)  Action|Crime|Drama
11     837      913  ...      Maltese Falcon, The (1941)   Film-Noir|Mystery

[5 rows x 6 columns]

In [ ]:
predictionsFinal

      MovieID                          Title                       Genres
516       527        Schindler's List (1993)                    Drama|War
1848     1953  French Connection, The (1971)  Action|Crime|Drama|Thriller
596       608                   Fargo (1996)         Crime|Drama|Thriller
1235     1284          Big Sleep, The (1946)            Film-Noir|Mystery
2085     2194       Untouchables, The (1987)           Action|Crime|Drama